# Build output
/dbkrab
/cmd/app/dbkrab
/bin/dbkrab
/dbkrab_test
/app
dist/

# Dependencies
node_modules/

# IDE
.idea/
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
config.yaml
config.yml

__debug_bin*

# Data
/data/
/cmd/app/data
/cmd/app/logs
/cmd/app/skills
/cmd/app/app


